<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="appconfig" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>App Config</label>
            <tab>idangerous</tab>
            <resource>IDangerous_AppConfig::config</resource>

            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="config_tree" translate="label comment" type="label" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Configuration Tree</label>
                    <frontend_model>IDangerous\AppConfig\Block\Adminhtml\System\Config\ConfigTree</frontend_model>
                    <comment>View and edit all groups and key-value pairs</comment>
                </field>

                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable App Config</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the App Config module</comment>
                </field>

                <field id="api_info" translate="label comment" type="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Information</label>
                    <frontend_model>IDangerous\AppConfig\Block\Adminhtml\System\Config\ApiInfo</frontend_model>
                    <comment>API endpoints and usage information</comment>
                </field>
            </group>
        </section>
    </system>
</config>


